*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display:grid;
    grid-template-rows: 1fr 20fr 1fr;
    height:100vh;
}


/***********************************************************HEADER**********************************************************/

/*HEADER*/
header{
    background-color:green;
    display:flex;
    justify-content: space-between;
}

#board-size{
    padding:10px;
    font-size:20px;
}

#board-size-button{
    padding:10px;
    font-size:10px;
}
/***********************************************************HEADER**********************************************************/







/***********************************************************MAIN**********************************************************/

/*MAIN CONTAINER*/
#main-div{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;

}


/*LEFT SIDE*/

#main-div #left{
    background-color: cyan;
    height: 100%;
}





/*MIDDLE*/

#main-div #mid{
    background-color: grey;
    height: 100%;
    display:grid;
    grid-template-rows: 2fr 12fr 1fr;
}



#title-container{
    background-color:red;
}

#main-title{
    padding-top:10px;
    font-size:40px;
    font-weight:700;
}
#author{
    font-size:20px;
}


#gameboard-container{
    background-color:lightgrey;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-width: 500px;
}

.board{
    margin:50px;
    display: grid;
    min-width: 500px;
    min-height: 500px;
}

.inner-box{
border:solid 1px black;
width:50px;
height:50px;
}

.inner-box:hover{
    width: 51px;
    height:51px;
    border:solid 1px black;
    background-color:green;
}


#timer-container{
    background-color:yellow;
}






/*RIGHTSIDE*/

#main-div #right{
    background-color: lightsalmon;
    height: 100%;
}
/***********************************************************MAIN**********************************************************/







/***********************************************************FOOTER**********************************************************/
footer{
    background-color:purple;
    text-align: center;
}
/***********************************************************FOOTER**********************************************************/